.attendance-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.5rem;
}

.attendance-content > p {
    margin: 0.5rem 5rem;
    text-align: center;
    text-transform: uppercase;
}

.attendance-content > button {
    width: 50vw;
    height: 12vw;
    background-color: var(--purple);
    color: white;
    margin: 2rem 0;
    margin-bottom: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    padding-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--title-font);
    color: var(--red);
    letter-spacing: 0.25rem;
}

.attendance-content > button > p {
  margin: 0.2em;
}

.attendance-content > p > .bold {
    font-weight: 500;
}