.form-group {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form-group input{
  padding: 1rem 0 1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  text-align: left;
  box-sizing: border-box;
}

.form-group.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-group select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0);
  text-align: left;
}