.hero-content {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 80vh;
}

.hero-content img.hero-image {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  object-position: 50% 42%;
}
