.directions-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.directions-content div {
    width: 50%;
    height: 50vw;
}

.directions-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0;
    text-align: center;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.place h2 {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.place h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.place p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}