section.claim {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.claim-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.claim-element {
  width: 50%;
  min-height: 20vh;
  height: 50vw;
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 25%;
}

.claim-element.claim-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.25rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: var(--red);
  font-family: var(--title-font);
  letter-spacing: 0.25rem;
}

.claim-element.claim-text p {
  margin: 0 2.5rem;
}
